.header {
  max-width: 882px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 999px) {
  .header {
    margin: 0 5%;
  }
}

@media screen and (max-width: 499px) {
  .header {
    min-height: 56px;
    margin: 0;
  }
}