.profile__name {
  display: inline-block;
  max-width: 500px;
  margin: 0 17px 0 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.5;
  color: white;
}

@media screen and (max-width: 599px) {
  .profile__name {
    font-size: 27px;
  }
}

@media screen and (max-width: 499px) {
  .profile__name {
    margin-right: 8.5px;
  }
}